 
.header{
	background-color: #d4002a;
	color: white;
	
}

.header .logo{
	max-width: 150px;
	
}
  $theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
    );
    $colors: (
      "blue":       $blue,
      "indigo":     $indigo,
      "purple":     $purple,
      "pink":       $pink,
      "red":        $red,
      "orange":     $orange,
      "yellow":     $yellow,
      "green":      $green,
      "teal":       $teal,
      "cyan":       $cyan,
      "white":      $white,
      "gray":       $gray-600,
      "gray-dark":  $gray-800
    );

.header .admlogo{
	max-width: 70px;
	margin: auto;
	margin-top: 10px;
}

.menu{
	
	min-width: 300px;
	font-size: x-small
}